@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: Libertinus;
}

:root{
    --div-fundo: #D9C5F2;
--branca: #ffffff;
--botao1: #5BC8AF;
--botao2: #E57373;
--cor1: #9A6ACC;
--cor2: #43206E;
}

body{
    margin: 20px;
}